[MODE]
mode={"login":[],
      "register":[],
      "recharge":[],
      "business":"all",
      "invest":"all"}

[DB]
db_config = {'host':'47.107.168.87',
          'user':'python',
          'password':'python666',
          'port':3306,
          'database':'future'}

[CHECKLEAVEAMOUNT]
check_list = ['recharge', 'invest', 'withdraw']